{% extends 'base.html' %}

{% block content %}

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">{{ app }}</a>
                </div>
                <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ms-auto">
                        <div class="row">
                            <div class="col">
                                <a class="nav-link">Welcome, {{ name }} from {{ class }}</a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <form class="d-flex" role="logout">
                                <a href="{% url 'main:logout' %}" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-log-out"></span> Log out
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
        
        <h3>Kamu menyimpan <span id="total-items">{{ total_item }}</span> item pada aplikasi ini</h3>
        <div class="row" id="item_card"></div>
    
        <br />
        
        <a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </main>

    <script>
        async function getItems() {
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
        }

        async function refreshItems() {
            document.getElementById("item_card").innerHTML = ""
            const items = await getItems()
            let htmlString = ``
            items.forEach((item, index) => {
                const isLastItem = index === items.length - 1;
                htmlString += `\n
                <div class="card ${isLastItem ? 'bg-info' : ''}" style="width: 20rem; margin: 1rem; background-color: rgb(171, 170, 172);">
                    <div class="card-body">
                        <h5 class="card-title">${item.fields.name}</h5>
                        <p class="card-text">${item.fields.description}</p>
                        <p class="card-text">Amount: ${item.fields.amount}</p>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group">
                                <a> <button class="btn btn-success" onclick="increaseAmount(${item.pk}); return false;">+</button> </a>
                                <a> <button class="btn btn-danger" onclick="decreaseAmount(${item.pk}); return false;">-</button> </a>
                            </div>
                            <a> <button class="btn btn-dark" onclick="deleteItem(${item.pk}); return false;">Remove</button> </a>
                        </div>
                    </div>
                </div>` 
            })
            const total_item = items.length;
            document.getElementById("total-items").textContent = total_item;
            
            document.getElementById("item_card").innerHTML = htmlString
        }

        refreshItems()

        function addItem() {
            fetch("{% url 'main:add_item_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshItems)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addItem

        function deleteItem(itemId) {
            fetch(`remove_item/${itemId}`, {
                method: "DELETE",
                
            }).then(refreshItems)
            return false
        }

        function increaseAmount(itemId) {
            fetch(`increase_amount/${itemId}`, {
                method: "GET",
                
            }).then(refreshItems)
            return false
        }

        function decreaseAmount(itemId) {
            fetch(`decrease_amount/${itemId}`, {
                method: "GET",
                
            }).then(refreshItems)
            return false
        }

    </script>
    <!--  -->

{% endblock content %}